$text-color: #1e293b;
$text-color-dark: #0f172a;
$text-color-light: #9ca3af;
$white: #ffffff;
$border-color: #e2e8f0;
$background-color: #f1f5f9;
$primary: #DC2625;
$danger: #DC2626;
$success: #22C55E;
$code-background: #282c34;
$code-color: #abb2bf;
